body {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-align: center;

}


h1 {
  margin: 1em 0 0.5em 0;
color: #343434;
font-weight: normal;
font-family: 'Ultra', sans-serif;
font-size: 36px;
line-height: 42px;
text-transform: uppercase;
text-shadow: 0 2px white, 0 3px #777;


}

.container{
  margin: 0 auto;
width: 960px;
margin-bottom: 2em ;
background-color: #DCDCDC ;
}


.head {
        background-color: grey ;

    overflow: hidden;
    height: 150px;


}

 nav {
display: block;

color: white ;
}

nav {

    padding: 5px ;
}

li a {
  color : black ;
  text-decoration: none;

}
li a:hover {
    color :white ;
    display: inline ;
    text-decoration: none;
}

h2 {
      text-align: center;


}



li {
    display: inline ;
    margin-right: 15px ;
    font-size: 19px ;
    font-variant: small-caps;
    text-decoration: none;
}

p {
      font-size: 15px ;

}
.profile img {
    height: 200px ;
    width : 200px ;
    clear: both;
    padding: 50px ;



}

.projects img  {
        transition-timing-function: ease-in-out;

}

.line {
      background-color: #696969 ;
      padding: 1px;
      width: 70% ;
}
